/* Simple CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: var(--body-font);
    background-color: var(--retro-dark);
    color: var(--retro-light);
    line-height: 1.6;
    overflow-x: hidden;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  ul {
    list-style: none;
  }
  
  button, 
  input[type="submit"], 
  input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  
  a {
    color: var(--retro-light);
    text-decoration: none;
  }